<section id="home-section">
  <h1 class="text-center mt-3">Lync.io</h1>

  <div class="d-grid gap-2">
    <a class="btn btn-primary btn-lg btn-block" href="/users/register">Register</a>
    <a class="btn btn-primary btn-lg btn-block" href="/users/login">Login</a>
  </div>
</section>